    /*
    Flaticon icon font: Flaticon
    Creation date: 03/07/2017 09:37
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-television:before { content: "\f100"; }
.flaticon-002-laundry:before { content: "\f101"; }
.flaticon-003-dinner:before { content: "\f102"; }
.flaticon-004-breakfast:before { content: "\f103"; }
.flaticon-005-open-sign:before { content: "\f104"; }
.flaticon-006-customer-service:before { content: "\f105"; }
.flaticon-007-elevator:before { content: "\f106"; }
.flaticon-008-document:before { content: "\f107"; }
.flaticon-009-passport:before { content: "\f108"; }
.flaticon-010-no-smoking:before { content: "\f109"; }
.flaticon-011-golf:before { content: "\f10a"; }
.flaticon-012-washbasin:before { content: "\f10b"; }
.flaticon-013-newspaper:before { content: "\f10c"; }
.flaticon-014-location:before { content: "\f10d"; }
.flaticon-015-power-socket:before { content: "\f10e"; }
.flaticon-016-alarm-clock:before { content: "\f10f"; }
.flaticon-017-suitcase:before { content: "\f110"; }
.flaticon-018-kettle:before { content: "\f111"; }
.flaticon-019-roll:before { content: "\f112"; }
.flaticon-020-air-conditioning:before { content: "\f113"; }
.flaticon-021-hotel:before { content: "\f114"; }
.flaticon-022-hair-dryer:before { content: "\f115"; }
.flaticon-023-no-fire:before { content: "\f116"; }
.flaticon-024-pool:before { content: "\f117"; }
.flaticon-025-plumber:before { content: "\f118"; }
.flaticon-026-bathroom:before { content: "\f119"; }
.flaticon-027-bowling:before { content: "\f11a"; }
.flaticon-028-key:before { content: "\f11b"; }
.flaticon-029-snack:before { content: "\f11c"; }
.flaticon-030-towel:before { content: "\f11d"; }
.flaticon-031-barbershop:before { content: "\f11e"; }
.flaticon-032-iron:before { content: "\f11f"; }
.flaticon-033-lobby-boy:before { content: "\f120"; }
.flaticon-034-feather-duster:before { content: "\f121"; }
.flaticon-035-clock:before { content: "\f122"; }
.flaticon-036-taxi:before { content: "\f123"; }
.flaticon-037-cleaner:before { content: "\f124"; }
.flaticon-038-parking:before { content: "\f125"; }
.flaticon-039-bell:before { content: "\f126"; }
.flaticon-040-beer:before { content: "\f127"; }
.flaticon-041-hotel-signal:before { content: "\f128"; }
.flaticon-042-wifi:before { content: "\f129"; }
.flaticon-043-credit-card:before { content: "\f12a"; }
.flaticon-044-telephone:before { content: "\f12b"; }
.flaticon-045-single-bed:before { content: "\f12c"; }
.flaticon-046-double-bed:before { content: "\f12d"; }
.flaticon-047-strongbox:before { content: "\f12e"; }
.flaticon-048-toothbrush:before { content: "\f12f"; }
.flaticon-049-soap:before { content: "\f130"; }
.flaticon-050-door-hanger:before { content: "\f131"; }
    
    $font-Flaticon-001-television: "\f100";
    $font-Flaticon-002-laundry: "\f101";
    $font-Flaticon-003-dinner: "\f102";
    $font-Flaticon-004-breakfast: "\f103";
    $font-Flaticon-005-open-sign: "\f104";
    $font-Flaticon-006-customer-service: "\f105";
    $font-Flaticon-007-elevator: "\f106";
    $font-Flaticon-008-document: "\f107";
    $font-Flaticon-009-passport: "\f108";
    $font-Flaticon-010-no-smoking: "\f109";
    $font-Flaticon-011-golf: "\f10a";
    $font-Flaticon-012-washbasin: "\f10b";
    $font-Flaticon-013-newspaper: "\f10c";
    $font-Flaticon-014-location: "\f10d";
    $font-Flaticon-015-power-socket: "\f10e";
    $font-Flaticon-016-alarm-clock: "\f10f";
    $font-Flaticon-017-suitcase: "\f110";
    $font-Flaticon-018-kettle: "\f111";
    $font-Flaticon-019-roll: "\f112";
    $font-Flaticon-020-air-conditioning: "\f113";
    $font-Flaticon-021-hotel: "\f114";
    $font-Flaticon-022-hair-dryer: "\f115";
    $font-Flaticon-023-no-fire: "\f116";
    $font-Flaticon-024-pool: "\f117";
    $font-Flaticon-025-plumber: "\f118";
    $font-Flaticon-026-bathroom: "\f119";
    $font-Flaticon-027-bowling: "\f11a";
    $font-Flaticon-028-key: "\f11b";
    $font-Flaticon-029-snack: "\f11c";
    $font-Flaticon-030-towel: "\f11d";
    $font-Flaticon-031-barbershop: "\f11e";
    $font-Flaticon-032-iron: "\f11f";
    $font-Flaticon-033-lobby-boy: "\f120";
    $font-Flaticon-034-feather-duster: "\f121";
    $font-Flaticon-035-clock: "\f122";
    $font-Flaticon-036-taxi: "\f123";
    $font-Flaticon-037-cleaner: "\f124";
    $font-Flaticon-038-parking: "\f125";
    $font-Flaticon-039-bell: "\f126";
    $font-Flaticon-040-beer: "\f127";
    $font-Flaticon-041-hotel-signal: "\f128";
    $font-Flaticon-042-wifi: "\f129";
    $font-Flaticon-043-credit-card: "\f12a";
    $font-Flaticon-044-telephone: "\f12b";
    $font-Flaticon-045-single-bed: "\f12c";
    $font-Flaticon-046-double-bed: "\f12d";
    $font-Flaticon-047-strongbox: "\f12e";
    $font-Flaticon-048-toothbrush: "\f12f";
    $font-Flaticon-049-soap: "\f130";
    $font-Flaticon-050-door-hanger: "\f131";